body {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.ba-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.ba-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ba-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.ba-menu__item + .ba-menu__item{
  margin-left: 30px;
}
.ba-menu__link {
  color: #fff;
  transition: .2s;
}
.ba-menu__link:hover,
.ba-menu__link:link {
  color: #d91baa;
}
.ba-menu__link:active {
  color: pink;
}


.ba-logo__link {
  color: #fff;

}
.ba-hero {
  background-color: #0e0d1b;
  background-image: url(../images/hero\ \(1\).jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  padding-top: 33.75vh;
}

.ba-hero__title {
  font-size: 3.75rem; /*то что в макете делим на 16 размер стандартный шрифта, на тот что в макете*/
  letter-spacing: 0;
  margin-bottom: 0;
}
.ba-hero__text {
  font-size: 1.875rem;
  margin-bottom: 2.333em;
}
.ba-btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  padding: 0 21px;
  text-decoration: none;
  color: #fff;
  transition: .4s;  
}
.ba-btn:hover,
.ba-btn:focus {
  background-color: #fff;
  color: #000;
}
.ba-btn:active {
  opacity: .8;
}
/* start section design battles */
.ba-design-battle {
  margin: 0 auto;
  padding: 147px 0 153px 0;
}
.ba-design-title {
  font-size: 3.875rem;
  color: #e71cb4;
  letter-spacing: 1px;
  margin-bottom: 93px;
}
.ba-design-text {
  font-size: 2rem;
  color: #444444;
  line-height: 45px;
  font-weight: 400;
  margin-bottom: 135px;
}
.ba-menu-title {
  font-size: 2.25rem;
  color: #444444;
  margin-bottom: 96px;
}
.ba-menu-wrapper {
 /* display: grid; */
}
.ba-menu-list {
  display: grid;
  grid-template-columns: auto auto;
}
/* Добавляем красивые цифры */
.ba-menu-list li {
  font-size: 1.5rem;
  color: #444444;
  margin-right: 10px;
  margin-bottom: 113px;
  list-style: none;
  text-align: center;
}
.one-li_item {
  background: url(../images/1.png) 0px no-repeat;
  padding-left: 55px;
  padding-top: 10px;
}
.one-li_item::before {
  content: url(../images/01.png);
  padding-right: 20px;
}
.two-li_item {
  background: url(../images/2.png) 0px no-repeat;
  padding-left: 85px; 
  padding-top: 10px;
}
.two-li_item::before {
  content: url(../images/02.png);
  padding-right: 20px;
}
.three-li_item {
  background: url(../images/3.png) 0px no-repeat;
  padding-left: 55px;
  padding-top: 10px;
}
.three-li_item::before {
  content: url(../images/03.png);
  margin-left: 10px;
}
.four-li_item {
  background: url(../images/4.png) 0px no-repeat;
  padding-left: 55px;
  padding-top: 10px;
}
.four-li_item::before {
  content: url(../images/04.png);
  padding-right: 20px;
}
.five-li_item {
  background: url(../images/5.png) 0px no-repeat;
  padding-top: 10px;
}
.five-li_item::before {
  content: url(../images/05.png);
  padding-right: 20px;
}
.six-li_item {
  background: url(../images/6.png) 0px no-repeat;
  padding-left: 60px;
  padding-top: 10px;
}
.six-li_item::before {
  content: url(../images/06.png);
  padding-right: 20px;
}
/* ------------------------- */
.ba-menu-text {
  font-size: 1.375rem;
  color: #5d5d5d;
  line-height: 45px;
  margin-bottom: 84px;
}
.ba-start-title {
  font-size: 1.875rem;
  color: #444444;
  margin-bottom: 43px;
}
.ba-menu-description {
  font-size: 1.142rem;
  color: #444444;
}
.ba-design-btn {
  display: inline-block;
  background-color: #c60ebe;
  border-radius: 10px;
  padding: 25px 77px;
  font-size: 1.375rem;
  font-weight: 600;
  color: #fff;
  margin-top: 45px;
  transition: .4s;
}
.ba-design-btn:hover {
  color: #e71cb4;
  background-color: #fff;
  border: 2px solid #e71cb4;
}
/* end section design battles */
/* start gallary cards */
.ba-gallary {
  text-align: center;
  padding: 157px 0 120px 0;
  background-image: linear-gradient(to top, #f40af0, #c721e9, #982bdf, #652fd3, #192fc3);
}
.ba-gallary-title {
  font-size: 3.387rem;
  color: #fff;
  letter-spacing: 1px;
}
.ba-gallary-text {
  font-size: 1.375rem;  
  color: #fff;  
  line-height: 2.3rem;
  margin-bottom: 52px;
}
.line1,
.line2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.line1 img,
.line2 img {
  border-radius: 10px;
  transition: .3s;
}
.line1 h2,
.line2 h2 {
  color: #fff;
  font-size: 1.5rem;
}
.line1 p,
.line2 p {
  font-size: 1rem;
  color: #fff
}
.ba-gallary-cards {
  margin-bottom: 112px;
  cursor: pointer;
}
.line1 img:hover,
.line2 img:hover {
  opacity: .7;
}
.ba-count-title {
  color: #fff;
  font-size: 3.875rem;
  margin-bottom: 65px;
}
.ba-count {
  width: 855px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.ba-count__item {
  width: 156px;
  height: 156px;  
  color: #fff;
  background-color: #460340;
  transition: .4s;
  cursor: pointer;
}
.ba-count__item:hover {
  background-color: #fb01cb;
  border: 1px solid #f0afeb;
  color: #fbcdf4;
}

.bold {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0;
}
.upper {
  text-transform: uppercase;
}
/*end gallary cards*/
/*  start sponsor section */
.ba-sponsor {
  padding: 86px 0 122px 0;
  text-align: center;
}
.ba-sponsor-title {
  font-size: 3.875rem;
  color: #444444;
  margin-bottom: 87px;
}
.ba-sponsor-image img{
  margin-right: 3%;
  cursor: pointer;
}
/* end sponsor section  */
/* start clients section */
.clients-title {
  font-size: 3.875rem;
  color: #444444;
  letter-spacing: 1px;
}
.ba-clients {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  background-color: #ffe9eb;
  text-align: center;
}
.ba-clients__item img {
  border-radius: 50%;
  margin-bottom: 27px;
  cursor: pointer;
}
.ba-clients__item h2 {
  font-size: 1.5rem;
  color: #444444;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.ba-clients__item p {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #444444;
}
/* end clients section */
/* start contact section */
.ba-contact {
  padding: 100px 0;
  text-align: center;
}
.ba-contact-wrapper {
  width: 100%;
  max-width: 701px;
  margin: 0 auto;
}
.ba-contact-title {
  font-size: 3.991rem;
  color: #444444;
  letter-spacing: 1px;
}
.ba-contact-text {
  font-size: 1.375rem;
  color: #8f8f8f;
  line-height: 40px;
  margin-bottom: 90px;
}
.form-inputs {
  text-align: left;
  color: #555555;
}
.form-inputs p {
  margin-bottom: 0;
  font-size: 1.230rem;
}
.form-item {
  float: left;
  margin-left: 30px;
}

input  {
  width: 300px;
  border: none;
  outline: none;
  font-size: 1.375rem;
  border-bottom: 6px solid #555555;
  margin-bottom: 70px;
  cursor: pointer;
}
.ba-contact-wrapper form textarea {
  text-align: left;
  width: 639px;
  border: none;
  outline: none;
  border-bottom: 6px solid #555555;
  font-size: 1.375rem;
  cursor: pointer;
}
.btn__block {
  display: flex;
  justify-content: flex-end;
}
input[type="submit"] {
  width: 150px;
  height: 50px;
  line-height: 14px;
  border: none;
  font-size: 14px;
  background-color: #555555;
  color: #fff;
  padding: 21px 25px;
  text-align: center;
  margin: 43px 27px 0 0;
  cursor: pointer;
}
/* end contact section */
/* start footer */
.ba-footer {
  padding: 76px 0 62px 0;
  background-color: #eeeeee;
  text-align: center;
}
.ba-footer-title {
  font-size: 2.25rem;
  letter-spacing: 1px;
  color: #444444;
  margin-bottom: 49px;
}
.ba-footer-text {
  font-size: 1rem;
  color: #717171;
  margin-bottom: 30px;
}
.ba-footer input[type="text"] {
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 7px;
  padding: 24px 0 24px 20px;
  color: #444444;
  cursor: pointer;
}
.ba-footer input[type="submit"] {
  width: 138px;
  height: 60px;
  color: #fff;
  background-color: #c60ebe;
  padding: 24px 21px 22px 23px;
  border-radius: 7px;
  font-size: 1.125rem; 
  font-weight: bold;
  cursor: pointer;
}
.ba-footer input::placeholder {
  font-size: 1.125rem;
}
.ba-footer__icons {
  display: flex;
  justify-content: space-between;
  width: 282px;
  margin: 0 auto;
  /* transition: 3s; */
}
.ba-footer__icons img {
  cursor: pointer;
  padding: 23px 23px;
  background-color: #dedede;
  border-radius: 50%; 
  transition: .3s;
}
.ba-footer__icons img:hover {
  opacity: .6;
  background-color: #717171;
}