body {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.ba-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.ba-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ba-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.ba-menu__item + .ba-menu__item{
  margin-left: 30px;
}
.ba-menu__link {
  color: #fff;
  transition: .2s;
}
.ba-menu__link:hover,
.ba-menu__link:link {
  color: #d91baa;
}
.ba-menu__link:active {
  color: pink;
}


.ba-logo__link {
  color: #fff;

}
.ba-hero {
  background-color: #0e0d1b;
  background-image: url(../images/hero\ \(1\).jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  padding-top: 33.75vh;
}

.ba-hero__title {
  font-size: 3.75rem; /*то что в макете делим на 16 размер стандартный шрифта, на тот что в макете*/
  letter-spacing: 0;
  margin-bottom: 0;
}
.ba-hero__text {
  font-size: 1.875rem;
  margin-bottom: 2.333em;
}
.ba-btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  padding: 0 21px;
  text-decoration: none;
  color: #fff;
  transition: .4s;  
}
.ba-btn:hover,
.ba-btn:focus {
  background-color: #fff;
  color: #000;
}
.ba-btn:active {
  opacity: .8;
}