body {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.ba-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.ba-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ba-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.ba-menu__item + .ba-menu__item{
  margin-left: 30px;
}
.ba-menu__link {
  color: #fff;
  transition: .2s;
}
.ba-menu__link:hover,
.ba-menu__link:link {
  color: #d91baa;
}
.ba-menu__link:active {
  color: pink;
}


.ba-logo__link {
  color: #fff;

}
.ba-hero {
  background-color: #0e0d1b;
  background-image: url(../images/hero\ \(1\).jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  padding-top: 33.75vh;
}

.ba-hero__title {
  font-size: 3.75rem; /*то что в макете делим на 16 размер стандартный шрифта, на тот что в макете*/
  letter-spacing: 0;
  margin-bottom: 0;
}
.ba-hero__text {
  font-size: 1.875rem;
  margin-bottom: 2.333em;
}
.ba-btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
  padding: 0 21px;
  text-decoration: none;
  color: #fff;
  transition: .4s;  
}
.ba-btn:hover,
.ba-btn:focus {
  background-color: #fff;
  color: #000;
}
.ba-btn:active {
  opacity: .8;
}
/* start section design battles */
.ba-design-battle {
  margin: 0 auto;
  padding: 147px 0 153px 0;
}
.ba-design-title {
  font-size: 3.875rem;
  color: #e71cb4;
  letter-spacing: 1px;
  margin-bottom: 93px;
}
.ba-design-text {
  font-size: 2rem;
  color: #444444;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 135px;
}
.ba-menu-title {
  font-size: 2.25rem;
  color: #444444;
  margin-bottom: 96px;
}
.ba-menu-wrapper {
 /* display: grid; */
}
.ba-menu-list {
  display: grid;
  grid-template-columns: auto auto;
}
/* Добавляем красивые цифры */
.ba-menu-list li {
  font-size: 1.5rem;
  color: #444444;
  margin-right: 10px;
  margin-bottom: 113px;
  list-style: none;
  text-align: center;
}
.one-li_item {
  background: url(../images/1.png) 0px no-repeat;
  padding-left: 55px;
  padding-top: 10px;
}
.one-li_item::before {
  content: url(../images/01.png);
  padding-right: 20px;
}
.two-li_item {
  background: url(../images/2.png) 0px no-repeat;
  padding-left: 85px; 
  padding-top: 10px;
}
.two-li_item::before {
  content: url(../images/02.png);
  padding-right: 20px;
}
.three-li_item {
  background: url(../images/3.png) 0px no-repeat;
  padding-left: 55px;
  padding-top: 10px;
}
.three-li_item::before {
  content: url(../images/03.png);
  margin-left: 10px;
}
.four-li_item {
  background: url(../images/4.png) 0px no-repeat;
  padding-left: 55px;
  padding-top: 10px;
}
.four-li_item::before {
  content: url(../images/04.png);
  padding-right: 20px;
}
.five-li_item {
  background: url(../images/5.png) 0px no-repeat;
  padding-top: 10px;
}
.five-li_item::before {
  content: url(../images/05.png);
  padding-right: 20px;
}
.six-li_item {
  background: url(../images/6.png) 0px no-repeat;
  padding-left: 60px;
  padding-top: 10px;
}
.six-li_item::before {
  content: url(../images/06.png);
  padding-right: 20px;
}
/* ------------------------- */
.ba-menu-text {
  font-size: 1.375rem;
  color: #5d5d5d;
  line-height: 45px;
  margin-bottom: 84px;
}
.ba-start-title {
  font-size: 1.875rem;
  color: #444444;
  margin-bottom: 43px;
}
.ba-menu-description {
  font-size: 1.142rem;
  color: #444444;
}
.ba-design-btn {
  display: inline-block;
  background-color: #c60ebe;
  border-radius: 10px;
  padding: 25px 77px;
  font-size: 1.375rem;
  font-weight: 600;
  color: #fff;
  margin-top: 45px;
  transition: .4s;
}
.ba-design-btn:hover {
  color: #e71cb4;
  background-color: #fff;
  border: 2px solid #e71cb4;
}
/* end section design battles */
/* start gallary cards */
.ba-gallary {
  text-align: center;
  padding: 157px 0 120px 0;
  background-image: linear-gradient(to top, #f40af0, #c721e9, #982bdf, #652fd3, #192fc3);
}
.ba-gallary-title {
  font-size: 3.387rem;
  color: #fff;
  letter-spacing: 1px;
}
.ba-gallary-text {
  font-size: 1.375rem;  
  color: #fff;  
  line-height: 2.3rem;
  margin-bottom: 52px;
}
.line1,
.line2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.line1 img,
.line2 img {
  border-radius: 10px;
}
.line1 h2,
.line2 h2 {
  color: #fff;
  font-size: 1.5rem;
}
.line1 p,
.line2 p {
  font-size: 1rem;
  color: #fff
}
.ba-gallary-cards {
  margin-bottom: 112px;
}
.ba-count-title {
  color: #fff;
  font-size: 3.875rem;
  margin-bottom: 65px;
}
.ba-count {
  width: 855px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.ba-count__item {
  width: 156px;
  height: 156px;  
  color: #fff;
  background-color: #460340;
  transition: .4s;
  /* padding-top: 36px; */
}
.ba-count__item:hover {
  background-color: #fb01cb;
  border: 1px solid #f0afeb;
  color: #fbcdf4;
}
/* .ba-count__item p {
  font-size: 1.125rem;
} */
.bold {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0;
}
.upper {
  text-transform: uppercase;
}

/*end gallary cards*/